{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iniciar sesión - Sistema académico</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/angular-toastr.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Menú</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'dashboard' %}">Sistema académico</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-6 col-md-6 col-lg-6 col-sm-offset-9">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Iniciar sesión</span>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="username">Usuario:</label>
                                <input type="text" class="form-control" id="username" name="username">
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña:</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="text-right">
                                <button type="submit" class="btn btn-success">Ingresar
                                    <span class="glyphicon glyphicon-ok-sign"></span>
                                </button>
                                <button type="reset" class="btn btn-danger">Cancelar
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>