{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Sistema académico</title>
    <link rel="stylesheet" type="text/css" href="{% static 'control_horas_lectivas/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'control_horas_lectivas/css/angular-toastr.css' %}" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'control_horas_lectivas/css/sb-admin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'control_horas_lectivas/css/style.css' %}">
</head>

<body ng-app="app-unsa">
    <section id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".app-menu-lateral">
                    <span class="sr-only">Menú</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'dashboard' %}">Sistema académico</a>
            </div>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu message-dropdown">
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>John Smith</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>John Smith</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>John Smith</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-footer">
                                <a href="#">Read All New Messages</a>
                            </li>
                        </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <div class="dropdown-menu">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="panel-title">Seleccionar plan de estudios</span>
                            </div>
                            <div class="panel-body">
                                <select class="form-control" name="id_plan_estudio" ng-repeat="PlanEstudio in ListaPlanEstudio">
                                    <option value="{( PlanEstudio.Id )}" ng-bind="PlanEstudio.Nombre"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                </li>
            </ul>
            <div class="collapse navbar-collapse app-menu-lateral">
                <ul class="nav navbar-nav side-nav">
                    <section style="padding: 5px" ng-controller="InformacionController" ng-init="Iniciar()">
                        <section id="app-menu-lateral-tarjeta-usuario">
                            <img src="{% static 'control_horas_lectivas/images/{( Informacion.Imagen )}' %}" alt="imagen" class="img-circle">
                            <h1><span ng-bind="Informacion.Nombre"></span></h1>
                            <h2><span ng-bind="Informacion.Cargo"></span></h2>
                        </section>
                        <div class="well well-sm">
                            <form action="{% url 'departamento' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <select class="form-control" name="id_plan_estudio" id="id_plan_estudio">
                                        <option ng-repeat="PlanEstudio in ListaPlanEstudio" value="{( PlanEstudio.Id )}" ng-bind="PlanEstudio.Nombre"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Seleccionar plan</button>
                                </div>
                            </form>
                            <div>
                                <b>Datos de la sesión:</b>
                                <span>Departamento:</span><br>
                                <span class="label label-primary"><span ng-bind="Informacion.NombreDepartamento"></span></span><br>
                                <span>Plan de estudios:</span><br>
                                <span class="label label-success"><span ng-bind="Informacion.NombrePlanEstudio"></span></span><br>
                            </div>
                        </div>
                    </section>
                    <li>
                        <a href="{% url 'dashboard' %}"><i class="fa fa-tachometer-alt"></i> Inicio</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-toggle="collapse" data-target="#app-menu-lateral-control"><i class="fa fa-tasks"></i> Control de horas lectivas <i class="fa fa-caret-down"></i></a>
                        <ul id="app-menu-lateral-control" class="collapse">
                            <li>
                                <a href="{% url 'carga_efectiva' %}">Registro semestral de carga efectiva</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-toggle="collapse" data-target="#app-menu-lateral-gestion"><i class="fa fa-graduation-cap"></i> Gestión <i class="fa fa-caret-down"></i></a>
                        <ul id="app-menu-lateral-gestion" class="collapse">
                            <li>
                                <a href="{% url 'teacher' %}">Gestionar docentes</a>
                            </li>
                            <li>
                                <a href="{% url 'study_plan' %}">Gestionar plan de estudios</a>
                            </li>
                            <li>
                                <a href="{% url 'study_plan' %}">Gestionar cursos</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-toggle="collapse" data-target="#app-menu-lateral-configuracion"><i class="fa fa-cog"></i> Configuracion <i class="fa fa-caret-down"></i></a>
                        <ul id="app-menu-lateral-configuracion" class="collapse">
                            <li>
                                <a href="{% url 'departament' %}">Gestionar departamentos</a>
                            </li>
                            <li>
                                <a href="{% url 'regime' %}">Gestionar regimen</a>
                            </li>
                            <li>
                                <a href="{% url 'day' %}">Gestionar dia</a>
                            </li>
                            <li>
                                <a href="{% url 'hour_type' %}">Gestionar tipo de hora</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <section id="page-wrapper">
            <div class="contaner-fluid">
                <div class="row">
                    <div class="col-xs-24">
                        {% block contenido %}{% endblock %}
                    </div>
                </div>
            </div>
        </section>
    </section>

    <script src="{% static 'control_horas_lectivas/js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'control_horas_lectivas/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'control_horas_lectivas/js/app/helpers/bootstrap-helper.js' %}"></script>
    <script src="{% static 'control_horas_lectivas/js/app/helpers/definicion-helper.js' %}"></script>

    <!-- Angular -->
    <script src="{% static 'control_horas_lectivas/js/angular.min.js' %}"></script>
    <script src="{% static 'control_horas_lectivas/js/angular-resource.min.js' %}"></script>
    <script src="{% static 'control_horas_lectivas/js/angular-toastr.js' %}"></script>
    <script src="{% static 'control_horas_lectivas/js/app/app.js' %}"></script>
    <script src="{% static 'control_horas_lectivas/js/app/factories/base-factory.js' %}"></script>

    <script src="{% static 'control_horas_lectivas/js/app/factories/study-plan-factory.js' %}"></script>
    <script src="{% static 'control_horas_lectivas/js/app/factories/informacion-factory.js' %}"></script>
    <script src="{% static 'control_horas_lectivas/js/app/controllers/informacion-controller.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>