{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Sistema académico</title>
    <link rel="stylesheet" type="text/css" href="{% static 'control_horas_lectivas/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'control_horas_lectivas/css/angular-toastr.css' %}" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'control_horas_lectivas/css/sb-admin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'control_horas_lectivas/css/style.css' %}">
</head>

<body ng-app="app-unsa">
    <section id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".app-menu-lateral">
                    <span class="sr-only">Menú</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Adminstración</a>
            </div>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu message-dropdown">
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>John Smith</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>John Smith</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <strong>John Smith</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-footer">
                                <a href="#">Read All New Messages</a>
                            </li>
                        </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                </li>
            </ul>
            <div class="collapse navbar-collapse app-menu-lateral">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <section id="app-menu-lateral-tarjeta-usuario">
                            <img src="{% static 'control_horas_lectivas/images/user.png' %}" alt="imagen" class="img-circle">
                            <h1>William Condori Quispe</h1>
                            <h2>Docente</h2>
                        </section>
                    </li>
                    <li>
                        <a href="{% url 'dashboard' %}"><i class="fa fa-tachometer-alt"></i> Inicio</a>
                    </li>
                    <li>
                        <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-toggle="collapse" data-target="#app-menu-lateral-gestion"><i class="fa fa-graduation-cap"></i> Gestión <i class="fa fa-caret-down"></i></a>
                        <ul id="app-menu-lateral-gestion" class="collapse">
                            <li>
                                <a href="{% url 'teacher' %}">Gestionar docentes</a>
                            </li>
                            <li>
                                <a href="{% url 'study_plan' %}">Gestionar plan de estudios</a>
                            </li>
                            <li>
                                <a href="{% url 'study_plan' %}">Gestionar cursos</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                    </li>
                    <li>
                        <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section id="page-wrapper">
            <div class="contaner-fluid">
                <div class="row">
                    <div class="col-xs-24">
                        {% block contenido %}{% endblock %}
                    </div>
                </div>
            </div>
        </section>
    </section>

    <script src="{% static 'control_horas_lectivas/js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'control_horas_lectivas/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'control_horas_lectivas/js/app/helpers/bootstrap-helper.js' %}"></script>
    <script src="{% static 'control_horas_lectivas/js/app/helpers/definicion-helper.js' %}"></script>

    <!-- Angular -->
    <script src="{% static 'control_horas_lectivas/js/angular.min.js' %}"></script>
    <script src="{% static 'control_horas_lectivas/js/angular-resource.min.js' %}"></script>
    <script src="{% static 'control_horas_lectivas/js/angular-toastr.js' %}"></script>
    <script src="{% static 'control_horas_lectivas/js/app/app.js' %}"></script>
    <script src="{% static 'control_horas_lectivas/js/app/factories/base-factory.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>