{% extends 'layout.html'%}
{% load static %}

{% block title %} 
Gestión de cursos
{% endblock %} 

{% block contenido %}
<div class="row">
	<div class="col-xs-24">
		<div class="panel">
			<div class="panel-heading">
				<span class="panel-title">Todos los registros <span class="badge">2</span></span>
			</div>
			<div class="table-responsive">
				<table class="table table-condensed table-bordered">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Plan de estudios</th>
							<th>
								<button class="btn btn-success btn-xs"></button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Datos</td>
							<td>Datos</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}