{% extends 'layout.html'%} 
{% load static %}

{% block title %} 
Configuración de días
{% endblock %}

{% block contenido %}
<section ng-controller="DayController" ng-init="Iniciar()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Todos los registros
                <span class="badge" ng-bind="ListaDay.length"></span>
            </span>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Orden</th>
                        <th>Nombre</th>
                        <th class="text-center col-xs-3">
                            <button class="btn btn-xs btn-success" ng-click="CrearDay()">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="Day in ListaDay">
                    <tr>
                        <td><span ng-bind="Day.Order"></span></td>
                        <td><span ng-bind="Day.Name"></span></td>
                        <td class="text-center col-xs-3">
                            <button class="btn btn-xs btn-warning" ng-click="ModificarDay(Day)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-xs btn-danger" ng-click="EliminarDay(Day)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="modal fade" id="app-modal-day">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Ingrese la información requerida</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-8 col-lg-8">
                                    <div class="form-group">
                                        <label>Orden:</label>
                                        <input type="number" class="form-control" ng-model="Day.Order">
                                    </div>
                                </div>
                                <div class="col-xs-24 col-sm-24 col-md-16 col-lg-16">
                                    <div class="form-group">
                                        <label>Nombre:</label>
                                        <input type="text" class="form-control" ng-model="Day.Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="text-right">
                                <button type="button" class="btn btn-default" ng-click="CancelarDay()">Cancelar</button>
                                <button type="button" class="btn btn-success" ng-click="GuardarDay()">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/app/factories/day-factory.js' %}"></script>
<script src="{% static 'js/app/controllers/day-controller.js' %}"></script>
{% endblock %}