{% extends 'layout.html'%} 
{% load static %}

{% block title %} 
Gestión de escuelas profesionales
{% endblock %}

{% block contenido %}
<section ng-controller="SchoolController" ng-init="Iniciar()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Todos los registros
                <span class="badge" ng-bind="ListaSchool.length"></span>
            </span>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Departamento</th>
                        <th>Nombre</th>
                        <th class="text-center col-xs-3">
                            <button class="btn btn-xs btn-success" ng-click="CrearSchool()">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="School in ListaSchool">
                    <tr>
                        <td><span ng-bind="School.DepartamentDto.Name"></span></td>
                        <td><span ng-bind="School.Name"></span></td>
                        <td class="text-center col-xs-3">
                            <button class="btn btn-xs btn-warning" ng-click="ModificarSchool(School)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-xs btn-danger" ng-click="EliminarSchool(School)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="modal fade" id="app-modal-school">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Plan de estudios</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                                    <div class="form-group">
                                        <label>Departamento:</label>
                                        <select class="form-control" ng-model="School.IdDepartament" ng-options="elemento.Id as elemento.Name for elemento in ListaDepartament">
                                            <option value="">[Seleccione]</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                                    <div class="form-group">
                                        <label>Nombre:</label>
                                        <input type="text" class="form-control" ng-model="School.Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="text-right">
                                <button type="button" class="btn btn-default" ng-click="CancelarSchool()">Cancelar</button>
                                <button type="button" class="btn btn-success" ng-click="GuardarSchool()">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script src="{% static 'control_horas_lectivas/js/app/factories/departament-factory.js' %}"></script>
<script src="{% static 'control_horas_lectivas/js/app/factories/school-factory.js' %}"></script>
<script src="{% static 'control_horas_lectivas/js/app/controllers/school-controller.js' %}"></script>
{% endblock %}