{% extends 'layout.html'%} {% load static %} {% block title %} Gestión de docentes {% endblock %} {% block contenido %}
<section ng-controller="TeacherController" ng-init="Iniciar()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Todos los docentes
                <span class="badge" ng-bind="ListaTeacher.length"></span>
            </span>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Departamento</th>
                        <th>Apellidos</th>
                        <th>Nombre</th>
                        <th class="text-center col-xs-3">
                            <button class="btn btn-xs btn-success" ng-click="CrearTeacher()">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="Teacher in ListaTeacher">
                    <tr>
                        <td>
                            <span ng-bind="Teacher.DepartamentDto.Name"></span>
                        </td>
                        <td>
                            <span ng-bind="Teacher.AddressName"></span>
                        </td>
                        <td>
                            <span ng-bind="Teacher.Name"></span>
                        </td>
                        <td class="text-center col-xs-3">
                            <button class="btn btn-xs btn-warning" ng-click="ModificarTeacher(Teacher)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-xs btn-danger" ng-click="EliminarTeacher(Teacher)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="app-modal-teacher">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Docente</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label>Apellidos:</label>
                                        <input type="text" class="form-control" ng-model="Teacher.AddressName">
                                    </div>
                                </div>
                                <div class="col-xs-24 col-sm-24 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label>Nombre:</label>
                                        <input type="text" class="form-control" ng-model="Teacher.Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label>Departamento:</label>
                                        <select class="form-control" ng-model="Teacher.IdDepartament" ng-options="elemento.Id as elemento.Name for elemento in ListaDepartament">
                                            <option value="">[Seleccione]</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-24 col-sm-24 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label>Categoría:</label>
                                        <select class="form-control" ng-model="Teacher.IdCategory" ng-options="elemento.Id as elemento.Name for elemento in ListaCategory">
                                            <option value="">[Seleccione]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                                    <div class="form-group">
                                        <label>Grado:</label>
                                        <input type="text" class="form-control" ng-model="Teacher.Degree">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label>Especialidad:</label>
                                        <input type="text" class="form-control" ng-model="Teacher.Speciality">
                                    </div>
                                </div>
                                <div class="col-xs-24 col-sm-24 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label>Régimen:</label>
                                        <select class="form-control" ng-model="Teacher.IdRegime" ng-options="elemento.Id as elemento.Name for elemento in ListaRegime">
                                            <option value="">[Seleccione]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="text-right">
                                <button type="button" class="btn btn-default" ng-click="CancelarTeacher()">Cancelar</button>
                                <button type="button" class="btn btn-success" ng-click="GuardarTeacher()">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block scripts %}
<script src="{% static 'js/app/factories/category-factory.js' %}"></script>
<script src="{% static 'js/app/factories/departament-factory.js' %}"></script>
<script src="{% static 'js/app/factories/regime-factory.js' %}"></script>
<script src="{% static 'js/app/factories/teacher-factory.js' %}"></script>
<script src="{% static 'js/app/controllers/teacher-controller.js' %}"></script>
{% endblock %}